input {
    font-size: 15px;
    border: none;
    text-align: center;
    color: black;
    border-radius: 20px;
    background: white;
    margin: 10px;
    padding: 10px;
    width: 46%;
}

button {
    font-size: 15px;
    background: white;
    color: black;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    opacity: 0.8;
    width: 50%;
}

button:hover {
    cursor: pointer;
    opacity: 1;
}

a {
    margin: 10px;
    font-size: 12px;
    letter-spacing: 10px;
    text-decoration: none;
    background: transparent;
    opacity: 0.5;
}

a:hover {
    opacity: 1;
}

h1 {
    background: transparent;
}

p {
    background: transparent;
}

.loginCont{
    border-radius: 10px;
    background: linear-gradient(rgb(93, 72, 110) 10%, rgb(118, 123, 165) 40%, rgb(120, 187, 178) );
    padding: 30px;
    margin: 5% 35% 0 35%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    background: transparent;
    height: 100px;
    width: auto;
    margin-bottom: 20px;
}

.choice {
    background: transparent;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.choiceName {
    margin: 0 25px 0 25px;
}

.active {
    color: #1DB954;
}

.choiceLine {
    background: white;
    height: 1px;
    width: 29em;
    margin: 25px 0 25px 0;
}

.loginText {
    background: transparent;
    margin-bottom: 25px;
}

.logIn {
    color: white;
    background: #1DB954;
}

.divider {
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.line {
    margin-top: 12px;
    background: white;
    height: 1px;
    width: 13em;
}

.dividerText {
    margin: 0 20px 0 20px;
}

.else {
    margin: 20px 0 20px 0;
}